
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

/* ---Navbar */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100wh;
    background: url('../image.jpeg') no-repeat;
    background-size: 100rem;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .logo {
    font-size: 2em;
    color: white;
    user-select: none;
  
  }
  @media only screen and (min-width: 830px){
  .navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  }
  @media only screen and (max-width: 830px){
    .navigation a{
      opacity: 0;
    }
  }
  .navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: .5s;
  }
  
  .navigation a:hover::after{
    transform-origin: right;
    transform: scaleX(1);
  }
  
  .navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: auto; 
    margin-top: 20px;
    transition: .5s;
  }
  
  .popup{
    margin-right: 20px;
  }

  .navigation .btnLogin-popup:hover{
    background: white;
    color: black;
  }

  @media only screen and (max-width: 643px) {
    .navigation .btnLogin-popup {
      margin-left: 40px;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  /* -----LoginForm */

  .wrapper {
    position: relative;
    height: 425px;
    width: 400px;
    background: transparent;
    border: 2px  solid rgb(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .wrapper .form-box {
    width: 100%;
    padding: 40px;
  }
  
  .wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
  }
  
  .form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
  }
   
  .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0px;
  }
  
  .input-box label {
    position:absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label {
    top: -5px;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }
  
  .input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
  }
  
  .remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
  }
  
  .remember-forgot a {
    color: #162938;
    text-decoration: none;
  }
  
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  
  .btn-1 {
    width: 100%;
    display: block; 
    margin: 0 auto;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    text-decoration: none !important;
  }
  
  .login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }
  
  .login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
  }
  
  .login-register p a:hover{
    text-decoration: underline;
  }
 

  .container {
    position: fixed;
    top: 0;
    left: 23%;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
  
  .container.show {
    opacity: 1;
    pointer-events: auto;
  }

  @media screen and (max-width: 643px) {
    .wrapper {
      max-width: 90%;
    }
    
    .container {
      left: 10%;
    }

  .form-box h2, 
  .input-box label,
  .input-box input,
  .remember-forgot,
  .btn-1,
  .login-register {
    color: white;
  }

  .remember-forgot a {
    color: white;
  }
  
  .login-register p a {
    color: white;
  }

  }

  @media screen and (max-width: 402px) {
    .wrapper {
      max-width: 80%;
    }
    
    .container {
      left: 5%;
    }
  }

  /* --- container-2 */
@media only screen and (min-width: 1242px) {
  .container-2{
    color: aliceblue;
    justify-content: center;
    align-items: center;
    height: 100vh;
    right: 50%;
  }

  .side-container {
    position: relative;
    height: 65%;
    width: 400px;
    background: transparent;
    backdrop-filter: blur(2px);
    overflow: hidden;
  }
  

  .sid-container h2{
    font-size: 2em;
  }

  .side-container p{
    font-size: 1em;
    font-weight: 500;
    color:aliceblue;
  }

  .side-container .image-2{
    display: flex;
    width: 300px;
    height: 300px;
  }

  .container-2 {
    position: fixed;
    top: 0;
    right: 10%;
    height: 100%;
    background-color: none;
    display: flex;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
  
  .container-2.show {
    opacity: 1;
    pointer-events: auto;
  }
}

@media only screen and (max-width: 1242px) {
  .container-2{
    opacity: 0;
    z-index: -1;
  }
}

