
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

.wrapper-suc {
    position: relative;
    height: 425px;
    width: 400px;
    background: transparent;
    border: 2px  solid rgb(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .container-suc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container-suc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .wrapper-suc {
    width: 200px;
    height: 200px;
    border: 10px solid rgb(150, 255, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: success 2s forwards;
  }
  
  @keyframes success {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @media (max-width: 500px) {
    .wrapper-suc,
    .container-suc {
      color: white;
    }
  }